

#title {
    color: white;
    text-align: center;
}

#title-backdrop {
    background-color: black;
}

.forecast-block {
    display: inline-block;
    background-color: #007bff;
    border: solid black 2px;
    margin: 0 30px;
    position: relative;
    right: 20px;
}